/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;

  &:hover {
    background: rgb(0 0 0 / 4%)
      radial-gradient(circle, transparent 1%, rgb(0 0 0 / 4%) 1%) center/15000%;
  }

  &:active {
    background-color: rgb(0 0 0 / 16%);
    background-size: 100%;
    transition: background 0s;
  }
}
